<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Nacho Betancourt">
  <meta name="version" content="v.5">
  <title>Coleccionista</title>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

  <!-- ANGULAR -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.min.js"></script>

  <!-- Sweeeeet Alerts -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
  <!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
  <script src="https://unpkg.com/promise-polyfill"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Font Awesome for awesomeness in icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

  <!-- Google Fonts (not so awesome but awesome) -->
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Roboto:100,400,700" rel="stylesheet">


  <link rel="stylesheet" href="styles.css">
  <script src="app.js"></script>

</head>

<body ng-app="collectorApp" ng-controller="CardsController">

  <div class="container-fluid">

    <div class="jumbotron margin-bottom-10">
      <h3 class="text-center text-bold">
        Coleccionista
        <span class="whisper"> webApp</span>
        <h5 class="text-center text-small">Para álbum 'Copa del Mundo Panini 2018' ®</h5>
      </h3>
    </div>

    <div class="cards-groups">
      <div class="cards-group margin-bottom-10"
           ng-repeat="group in (fGroups || groups)"
           ng-if="showGroup(group.cards)"
           id="group-{{group.name}}">

        <div class="group-head text-center" ng-dblclick="showAllDups(group)">
          <span class="group" ng-if="group.group">
            <i class="fas fa-futbol"></i>
            <b class="letter">{{group.group}}</b>
          </span>
          <span class="group" ng-if="!group.group">
            <i class="fas fa-trophy"></i>
          </span>
          <span class="name">{{group.name}}</span>
          <span class="page thin">
            {{group.page}}
            <i class="fas fa-file"></i>
          </span>
        </div>

        <div class="group-body flex-center">
          <div class="cards">
            <div class="card flex-center"
            id="card-{{card.id}}"
                 ng-repeat="card in group.cards"
                 ng-if="showCard(card)"
                 ng-click="$evalAsync(toggleCard(card))"
                 ng-dblclick="showDups(card)"
            >
              <i class="far fa-check-square flex-center" ng-if="card.owned"></i>
              <i class="far fa-square flex-center" ng-if="!card.owned" ng-class="{ 'checked': animatedCard == card.id }"></i>
              <div class="info flex-center">
                <span class="number" ng-class="{'owned': card.owned}">
                  {{card.id}}
                </span>
              </div>
              <div class="duplicates flex-center" ng-if="card.active">
                <i class="far fa-minus-square" ng-click='gaveDuplicate(card)'></i>
                <span class="number flex-center">
                  {{card.duplicates}}
                </span>
                <i class="far fa-plus-square text-success" ng-click='gotDuplicate(card)'></i>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="footer margin-bottom-10 flex-center text-muted">
      <i class="fas fa-code"></i> Nacho Betancourt, 2018
      <i class="fab fa-github"></i><a href="https://github.com/softwarenacho/collector" target="_blank">softwarenacho/collector</a>
    </div>

  </div>

  <div class="toolbar-container"
       ng-class="{'active': tActive}" >

    <div class="tools-btn flex-center pointer">
      <i class="fas fa-circle" ng-if="!tActive"></i>
      <i class="fas fa-chevron-down" ng-if="tActive" ng-click="toggleTools()"></i>
      <i class="fas fa-ellipsis-h"
        ng-if="!tActive"
        ng-click="toggleTools()"
        ng-class="{'active': !tActive}" >
      </i>
    </div>

    <div class="houdini-btns flex-center" ng-class="{'padding-right-50': !tActive}">

      <div class="btns help flex-center text-center pointer">
        <i class="fa fa-info-circle text-muted"></i>
        <span class="text-center text-muted">Ayuda</span>
      </div>

      <div class="divisor"></div>

      <div class=" btns owned flex-center">
        <i class="fas fa-check-square"></i>
        <span class="text-center stat">{{getOwnedCount()}}</span>
        <span class="text-center text-muted">Marcadas</span>
      </div>
      <div class="btns missing flex-center">
        <i class="far fa-square"></i>
        <span class="text-center stat">{{getMissingCount()}}</span>
        <span class="text-center text-muted">Faltantes</span>
      </div>
      <div class="btns duplicates flex-center">
        <i class="far fa-clone"></i>
        <span class="text-center stat">{{getDuplicateCount()}}</span>
        <span class="text-center text-muted">Repetidas</span>
      </div>

      <div class="divisor"></div>

      <div class="btns share flex-center pointer">
        <i class="fas fa-share-alt"></i>
        <span class="text-center text-muted">Compartir</span>
      </div>

      <div class="btns filter flex-center pointer" ng-click="toggleFilter()">
        <i class="fa fa-filter"></i>
        <span class="text-center text-muted">Filtros</span>
      </div>

      <div class="filter-box btns" ng-if="tFilter">
        <div class="close pointer" ng-click="toggleFilter()">
          <i class="far fa-window-close"></i>
        </div>
        <div class="owned pointer" ng-click="cardFilter('owned')" ng-class="{'opacity-1': filters.owned}">
          <i class="fas fa-check-square"></i>
          <span class="margin-left-10">Marcadas</span>
        </div>
        <div class="missing pointer" ng-click="cardFilter('missing')" ng-class="{'opacity-1': filters.missing}">
          <i class="fas fa-square"></i>
          <span class="margin-left-10">Faltantes</span>
        </div>
        <div class="duplicates pointer" ng-click="cardFilter('duplicates')" ng-class="{'opacity-1': filters.duplicates}">
          <i class="fas fa-clone"></i>
          <span class="margin-left-10">Repetidas</span>
        </div>

      </div>

      <div class="save-btn flex-center pointer" ng-class="{'save-btn': !tActive ,'btns': tActive}" style="color: var(--fifa-sblue);">
        <i class="fas fa-save"
          ng-click="saveCards()"
          ng-class="{'unsaved': !saved}" >
        </i>
        <span class="text-center text-muted" ng-if="tActive">Guardar</span>
      </div>

    </div>


  </div>

</body>
</html>
