/* S general */

  :root {
      --fifa-red: #D30208;
      --fifa-gold: #E5C685;
      --fifa-gold-t: #E5C68540;
      --fifa-white: #F5EED5;
      --fifa-black: #171714;
      --fifa-sblue: #015386;
      --fifa-lblue: #0074B1;
      --roboto: 'Roboto';
      --frederika: 'Fredericka the Great';
  }

  body {
    background-color: var(--fifa-white);
    height: 100vh;
    font-family: var(--roboto), sans-serif;
    position: relative;
  }

  .container-fluid {
    position: relative;
    padding: 0px;
    flex-direction: column;
    max-width: 999px;
  }

  .flex-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .margin-0 {
    margin: 0 !important;
  }

  .margin-15 {
    margin: 15px;
  }

  .margin-top-10 {
    margin-top: 10px !important;
  }

  .margin-bottom-5 {
    margin-bottom: 5px !important;
  }

  .margin-bottom-10 {
    margin-bottom: 10px !important;
  }

  .margin-left-10 {
    margin-left: 10px !important;
  }

  .margin-right-5 {
    margin-right: 5px !important;
  }

  .margin-right-10 {
    margin-right: 10px !important;
  }

  .padding-right-25 {
    padding-right: 25px !important;
  }

  .padding-right-50 {
    padding-right: 50px !important;
  }

  .whisper {
    font-family: var(--roboto), sans-serif;
    font-size: 75%;
    font-weight: 100;
    color: var(--fifa-white);
  }

  .thin {
    var(--fifa-lblue);
    font-weight: 100;
  }

  .border-error {
    border-bottom: 2.5px dotted var(--fifa-red);
    color: var(--fifa-red);
  }

  .divisor {
    width: 2.5px;
    margin: 0px 5px !important;
    background-color: var(--fifa-gold-t);
    height: 100%;
    margin: 0 2.5px !important;
  }

  .pointer {
    cursor: pointer !important;
  }

  .opacity-1 {
    opacity: 1 !important;
  }

  .opacity-half {
    opacity: 0.5 !important;
  }

  input[type=password] {
    -webkit-text-security: disc;
  }

  .forgot {
    margin: 10px 0px;
    text-align: center;
    font-size: 75% !important;
    color: var(--fifa-lblue);
    text-decoration: underline;
  }

/* E general */

/* S header */

  .jumbotron {
    padding: 5px;
    border-radius: 0 !important;
    background-color: var(--fifa-sblue);
    border: 0.5px solid var(--fifa-gold-t);
    width: 100vw;
  }

  .jumbotron h3 {
    color: var(--fifa-gold);
    font-family: var(--frederika), cursive;
    margin-top: 5px;
  }

  .jumbotron h5 {
    color: var(--fifa-white);
  }

/* E header */

/* S groups */

  .cards-groups {
    color: var(--fifa-black);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0px 10px;
    margin-bottom: 50px;
  }

  .cards-group {
    color: var(--fifa-red);
  }

  /* S head */

    .cards-group .group-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .group-head .letter {
      font-family: var(--frederika), cursive;
      color: var(--fifa-sblue);
      font-size: 125%;
    }

    .group-head .fas {
      font-size: 85%;
    }

    .group-head .name {
      font-style: italic;
      font-size: 125%;
    }

    .group-head .group, .group-head .page {
      color: var(--fifa-lblue);
    }

  /* E head */

  /* S body */

    .group-body {
      border: 0.5px solid;
      border-radius: 0 !important;
      padding: 15px;
      position: relative;
    }

    /* S card */

      .cards {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 600px;
      }

      @media screen and (max-width: 662px) {
        .cards {
          max-width: 300px;
        }
      }

      .group-body .card {
        cursor: pointer;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5px;
        margin: 0px 2.5px;
        min-width: 50px;
        width: 50px;
        max-width: 50px;
        max-height: 75px;
        border-right: 0.5px solid #e5c68540;
        border-bottom: 0.5px solid var(--fifa-gold-t);
      }

      .card .info .owned {color: var(--fifa-sblue);}

      /* S duplicates */

      .duplicates-toggler {
        display: none;
        color: var(--fifa-lblue);
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 2.5px;
        font-size: 10px;
      }

      .card:hover .duplicates-toggler {
        display: block;
        transition: display: 1.5s;
      }

      .duplicates .number {
        color: var(--fifa-lblue);
        margin: 5px;
      }

      /* E duplicates */

      /* S icons */

        .card .fa-square {
          color: var(--fifa-gold-t);
          font-size: 125%;
          width: 25px;
          height: 25px;
        }

        .card .fa-check-square {
          color: var(--fifa-sblue);
          font-size: 150%;
          width: 25px;
          height: 25px;
        }

      /* E icons */

    /* E card */

  /* E body */

/* E groups */

/* S toolbar */

  /* S tools btn */

    .toolbar-container {
      height: 0;
      width: 100%;
      position: relative;
    }

    .toolbar-container.active {
      display: flex;
      position: fixed;
      height: 50px;
      width: 100%;
      bottom: 0;
      background-color: var(--fifa-white);
    }

    .tools-btn {
      color: var(--fifa-black);
      position: fixed;
      bottom: 0;
      left: 0;
      margin-left: 5px;
      width: 50px;
      height: 50px;
      font-size: 25px;
    }

    .tools-btn.collapse {
      width: 30px;
    }

    .tools-btn .fa-ellipsis-h {
      color: var(--fifa-white);
      position: absolute;
      font-size: 75%;
    }

    .tools-btn .fa-angle-down {
      opacity: 75%;
    }

    .houdini-btns {
      width: 100%;
      padding: 5px 50px;
      padding-right: 5px;
      border-top: 1px solid var(--fifa-gold);
    }

    .houdini-btns.expanded {
      padding-left: 35px;
    }

    .btns {
      color: var(--fifa-lblue);
      min-height: 50px;
      height: 50px;
      max-height: 50px;
      flex-direction: column;
    }

    .save-btn.btns i, .houdini-btns i {
      font-size: 150%;
    }

    .save-btn.btns .stat, .houdini-btns .stat {
      font-size: 100% !important;
      line-height: 0.5 !important;
    }

    .save-btn.btns span, .houdini-btns span {
      font-size: 50%;
    }

    .houdini-btns .user {color: var(--fifa-lblue);/* padding: 0px 10px; */}
    .houdini-btns .share { color: var(--fifa-lblue); }
    .houdini-btns .owned { color: var(--fifa-sblue); }
    .houdini-btns .missing { color: var(--fifa-red); }
    .houdini-btns .log-in {/* color: var(--fifa-sblue); */}

  /* E toolbar btn */

  /* S filter box */

  .houdini-btns .filter-box {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 50px;
    height: unset;
    max-height: unset;
    background-color: var(--fifa-white);
    border: 1px solid var(--fifa-gold);
  }

  .filter-box div {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
  }

  .close {
    font-size: 10px;
    align-self: flex-end;
    color: var(--fifa-red);
    opacity: 0.5;
    margin-right: -5px;
  }

  .close:hover {
    opacity: 1 !important;
    color: var(--fifa-red);
  }

  /* E filter box */

/* E toolbar */

/* S Animations */

.checked {
  animation: checked-animation 0.5s infinite;
}

@keyframes checked-animation {
  5%, 95% { font-size: 150%; }
  10% ,100% { font-size: 125%; }
}

/* E Animations */

/* S save btn */

.save-btn {
  color: var(--fifa-sblue);
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  font-size: 25px;
}

/* E save btn */

/* S user modal */

  .user-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: var(--fifa-sblue);
    left: 0;
    bottom: 50px;
    height: unset;
    padding: 5px 10px;
    max-height: unset;
    max-width: 175px;
    background-color: var(--fifa-white);
    border: 1px solid var(--fifa-gold);
  }

  .user-box .name, .user-box .pin {
    margin: 5px 0px;
}

  .user-box .name {position: relative;}

  .user-box .pin {position: relative;}

  .user-box h6 {margin: 7.5px 0px;text-align: center;}

  .user-info {/* padding: 15px 10px; */font-size: 135%;text-align: center;}

  .user-info span {
    font-size: 100%;
    color: var(--fifa-sblue);
    border-bottom: 1px dotted var(--fifa-lblue);
  }


  .user-info i {
    font-size: 80%;
    color: var(--fifa-lblue);
    margin-right: 10px;
  }

  .user-options {
    color: #777 !important;
    margin: 0 !important;
    margin: 5px !important;
    font-size: 75% !important;
    cursor: pointer;
  }

/* E user modal */

/* S placeholder to label */

  .input-placeholder {
    padding: 5px !important;
    padding-top: 25px !important;
    margin: 0 !important;
    height: 50px !important;
    width: 100%;
  }

  .placeholder-label {
    display: flex;
    font-size: 20px !important;
    text-transform: uppercase;
    position: absolute;
    top: 7.5px;
    z-index: 2;
    margin-left: 5px;
    color: darkgrey;
    pointer-events: none;
    white-space: nowrap;
    text-transform: capitalize;
  }

  .input-placeholder:focus + .placeholder-label {
    animation: placeholder-up 0.5s forwards;
  }

  .placeholder-label-up {
    animation: placeholder-up 0.5s forwards;
  }

  @keyframes placeholder-up {
    to {
      font-size: 14px;
      transform: translateY(-5px);
    }
  }

/* D placeholder to label */
